<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="TemplateMo">
<link
	href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
	rel="stylesheet">

<title>Ourd Business - Services</title>

<!-- Bootstrap core CSS -->
<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Additional CSS Files -->
<link rel="stylesheet" href="assets/css/fontawesome.css">
<link rel="stylesheet" href="assets/css/templatemo-finance-business.css">
<link rel="stylesheet" href="assets/css/owl.css">
<!--

Finance Business TemplateMo

https://templatemo.com/tm-545-finance-business

-->
</head>

<body>

	<!-- ***** Preloader Start ***** -->
	<div id="preloader">
		<div class="jumper">
			<div></div>
			<div></div>
			<div></div>
		</div>
	</div>
	<!-- ***** Preloader End ***** -->

	<!-- Header -->

      <!-- Header -->

     <header class="">
      <nav class="navbar navbar-expand-lg">
         <div class="container">
            <a class="navbar-brand" href="home"><h2>OURD
                  Business</h2></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
               data-target="#navbarResponsive" aria-controls="navbarResponsive"
               aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
               <ul class="navbar-nav ml-auto">
                  <li class="nav-item active"><a class="nav-link" href="home">Home
                        <span class="sr-only">(current)</span>
                  </a></li>
                  <li class="nav-item"><a class="nav-link"
                  sec:authorize="!isAuthenticated()" th:href="@{login}">Sign Up</a></li>
                  <li class="nav-item"><a class="nav-link" href="board/list.do">Board
                        </a></li>
                     <li class="nav-item"><a class="nav-link" href="/chat/room" 
                  onclick="window.open(this.href, '_blank', 'width=460px,height=420px,left=2000%, top=500px,toolbars=no,scrollbars=no'); return false;">
                        Chat</a></li>
                    
                  <li class="nav-item"><a class="nav-link" href="board" sec:authorize="isAuthenticated()" sec:authentication="name"></a></li>
                    <form class="nav-item" th:action="@{/logout}" method="POST" sec:authorize="isAuthenticated()">
                  <li class="nav-item"><a class="nav-link" href="board" th:href="@{'/logout'}">
                        <button class="btn btn-outline-success" type="submit">logout</button></a></li>
                  </form>
               </ul>
            </div>
         </div>
      </nav>
   </header>

	<!-- Page Content -->
	<div class="page-heading header-text">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1>>JOIN PAGE</h1>
					<span>WITH. OURD</span>
				</div>
			</div>
		</div>
	</div>

	<div class="register-login-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 offset-lg-3">
					</br>
						</br>
					 <h1>회원가입이 완료 되었습니다. </br>
					 감사합니다. <h1>
				</div>
			</div>
		</div>
	</div>



	<div class="partners">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="owl-partners owl-carousel">
						<div class="partner-item">
							<img src="assets/images/client-01.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- Footer Starts Here -->
	   <footer>
		<div class="container">
			<div class="row">
				<div class="col-md-3 footer-item">
					<h4>OurD 소개</h4>
					<p><strong>Our Dream</strong>
					<br>
						우리들의 꿈이 이루어지는  <br>
						그날까지 함께하겠습니다. <br>
						We will be together until our dreams come true.<br>
						ABOUT OurD</p>
				</div>
				<div class="col-md-3 footer-item">
					<h4>고객 센터</h4> 
						<p>
						(주)Our Dream | 서울 강남구 테헤란로 <br>
						고객센터 전화문의 | 010-0000-0000 <br>
						FAX | 02-0000-0000  <br>
						E-mail ourD@naver.com <br>
						</p>
				</div>
				<div class="col-md-3 footer-item">
					<h4>Additional Pages</h4>
					<ul class="menu-list">
						<li><a href="#">About Us 회사소개 바로가기</a></li>
						<li><a href="#">포트폴리오 바로가기</a></li>
						<li><a href="#">팁 게시판 바로가기</a></li>
						<li><a href="#">채팅방 바로가기</a></li>
						<li><a href="#">Home 바로가기</a></li>
					</ul>
				</div>

				<div class="col-md-3 footer-item last-item">
					<h4>채팅방 바로가기</h4>
					<div class="contact-form">

								<div class="col-lg-12">
								<a href="/chat/room" onclick="window.open(this.href, '_blank', 'width=500px,height=500px,left=2000%, top=500px,toolbars=no,scrollbars=no'); return false;">
								<!-- 
									<a href="/chat/room" target='_blank'> -->
										<fieldset>
												<button value="채팅방으로이동" type="submit" id="ChatGo" class="filled-button">채팅방 바로가기</button>
										</fieldset>
									<!-- </a> -->
								</a>
								</div>
							</div>

					</div>
				</div>
			</div>
		</div>
	</footer>

	<div class="sub-footer">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<p>
						Copyright &copy; 2021 Ourd Business Co. , Ltd. - Design: <a
							rel="nofollow noopener" href="http://localhost:9091/login"
							target="_blank"></a>
					</p>
				</div>
			</div>
		</div>
	</div>

	<!-- Bootstrap core JavaScript -->
	<script src="vendor/jquery/jquery.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Additional Scripts -->
	<script src="assets/js/custom.js"></script>
	<script src="assets/js/owl.js"></script>
	<script src="assets/js/slick.js"></script>
	<script src="assets/js/accordions.js"></script>


</body>
</html>