<!DOCTYPE html>
<html lang="en" xmlns:sec="" xmlns:th="http://www.w3.org/1999/xhtml">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>OURD</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="assets/css/fontawesome.css">
    <link rel="stylesheet" href="assets/css/templatemo-finance-business.css">
    <link rel="stylesheet" href="assets/css/owl.css">
<!--

Finance Business TemplateMo

https://templatemo.com/tm-545-finance-business

-->
  </head>

  <body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->

    <!-- Header -->
       <header class="">
      <nav class="navbar navbar-expand-lg">
         <div class="container">
            <a class="navbar-brand" href="home"><h2>OURD
                  Business</h2></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
               data-target="#navbarResponsive" aria-controls="navbarResponsive"
               aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
               <ul class="navbar-nav ml-auto">
                  <li class="nav-item active"><a class="nav-link" href="home">Home
                        <span class="sr-only">(current)</span>
                  </a></li>
                  <li class="nav-item"><a class="nav-link"
                  sec:authorize="!isAuthenticated()" th:href="@{login}">Sign Up</a></li>
                  <li class="nav-item"><a class="nav-link" href="board/list.do">Board
                        </a></li>
                     <li class="nav-item"><a class="nav-link" href="/chat/room" 
                  onclick="window.open(this.href, '_blank', 'width=460px,height=420px,left=2000%, top=500px,toolbars=no,scrollbars=no'); return false;">
                        Chat</a></li>
                    
                  <li class="nav-item"><a class="nav-link" href="board" sec:authorize="isAuthenticated()" sec:authentication="name"></a></li>
                    <form class="nav-item" th:action="@{/logout}" method="POST" sec:authorize="isAuthenticated()">
                  <li class="nav-item"><a class="nav-link" href="board" th:href="@{'/logout'}">
                        <button class="btn btn-outline-success" type="submit">logout</button></a></li>
                  </form>
               </ul>
            </div>
         </div>
      </nav>
   </header>
    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="main-banner header-text" id="top">
        <div class="Modern-Slider">
          <!-- Item -->
          <div class="item item-1">
            <div class="img-fill">
                <div class="text-content">
                  <h6>Don't worry alone anymore</h6>
                  <h4>개발자를 꿈꾸는 우리들의 커뮤니티 </h4>
                  <p>같이 생각하고 고민해요. </br> OURD에서 여러분들의 고민을 함께 헤쳐나가봐요. </p>
                  <a href="login" class="filled-button">Sign up</a>
                </div>
            </div>
          </div>
          <!-- // Item -->
          <!-- Item -->
          <div class="item item-2">
            <div class="img-fill">
                <div class="text-content">
                  <h6>How do I become a developer?</h6>
                  <h4>포트폴리오<br>&amp;공부방법 </h4>
                  <p>궁금했던 포트폴리오 작성 방식과</br>
                  공부방법 팁들을 공유해드립니다!</p>
                  <a href="Board" class="filled-button">IN BOARD</a>
                </div>
            </div>
          </div>
          <!-- // Item -->
          <!-- Item -->
          <div class="item item-3">
            <div class="img-fill">
                <div class="text-content">
                  <h6></h6>
                  <h4>"Boys be ambitious!"</h4>
                  <p>- William Smith Clark(1826 ~ 1886)</p>
                </div>
            </div>
          </div>
          <!-- // Item -->
        </div>
    </div>
    <!-- Banner Ends Here -->

    <div class="request-form">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <h4>궁금한 사항이 있으신가요?</h4>
            <span>공지사항 및 QnA는 옆에 버튼을 클릭해주세요.</span>
          </div>
          <div class="col-md-4">
            <a href="tipBoard/list.do" class="border-button">NOTICE</a>
          </div>
        </div>
      </div>
    </div>

    <div class="services">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>OURD <em>Services</em></h2>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-item">
              <img src="assets/images/service_01.jpg" alt="">
              <div class="down-content">
                <h4>Portfolio format provided </h4>
                <p>포트폴리오 양식을 제공하고</br>
                 다른 사람들의 포트폴리오를 공유받아 </br>
                 더 완벽한 포트폴리오를 만들 수 있도록 </br>
                 도와드립니다.</p>
                <a href="" class="filled-button">Read More</a>
                </br></br>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-item">
              <img src="assets/images/service_02.jpg" alt="">
              <div class="down-content">
                <h4>Provision of corporate information</h4>
                <p>개발자가 되기 위해 도움이 되는 정보들을</br> 공유해 드립니다.</p>
               </br>
                <a href="" class="filled-button">Read More</a>
                </br></br>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-item">
              <img src="assets/images/service_03.jpg" alt="">
              <div class="down-content">
                <h4>Chat room</h4>
                <p>같은 고민을 하는 우리</br>
                채팅방에서 편하게 고민을 털어놓고 </br>
                해답을 얻어보아요. </p></br>
                <a href="" class="filled-button">Read More</a>
                </br></br>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="fun-facts">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="left-content">
              <h2>Our solutions for your <em>business growth</em></h2>
              <h4>We never stop</br></br>
              Do not give up</h4>
            </div>
          </div>
          <div class="col-md-6 align-self-center">
            <div class="row">
              <div class="col-md-6">
                <div class="count-area-content">
                  <div class="count-digit">1051</div>
                  <div class="count-title">We run</div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="count-area-content">
                  <div class="count-digit">1280</div>
                  <div class="count-title">Portfolio Reviews</div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="count-area-content">
                  <div class="count-digit">578</div>
                  <div class="count-title">Members</div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="count-area-content">
                  <div class="count-digit">26</div>
                  <div class="count-title">Chat room</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="more-info">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="more-info-content">
              <div class="row">
                <div class="col-md-6">
                  <div class="left-image">
                    <img src="assets/images/more-info.jpg" alt="">
                  </div>
                </div>
                <div class="col-md-6 align-self-center">
                  <div class="right-content">
                    <span>Who we are</span>
                    <h2>Get to know about <em>our company</em></h2>
                    <p>개발자가 되기 위해 꿈꾸고 고민하며</br> 앞으로 나아가고 계신 분들을 도와드리기 위해</br>
                   설립되었고 함께 나아가고 있습니다.</br> 저희는 OURD 입니다.</p>
                    <a href="#" class="filled-button">Read More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="testimonials">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>What they say <em>about us</em></h2>
              <span>We are Ourd</span>
            </div>
          </div>
          <div class="col-md-12">
            <div class="owl-testimonials owl-carousel">
              
              <div class="testimonial-item">
                <div class="inner-content">
                  <h4>LIM GEON WOO</h4>
                  <span>TEAM MANAGER</span>
                  <p>""</p>
                </div>
                <img src="http://placehold.it/60x60" alt="">
              </div>
              
              <div class="testimonial-item">
                <div class="inner-content">
                  <h4>KIM SUNG SU</h4>
                  <span>CHAT MANAGER 1</span>
                  <p>""</p>
                </div>
                <img src="http://placehold.it/60x60" alt="">
              </div>
              
              <div class="testimonial-item">
                <div class="inner-content">
                  <h4>JANG YU BIN</h4>
                  <span>CHAT MANAGER 2</span>
                  <p>"Ut ultricies maximus turpis, in sollicitudin ligula posuere vel. Donec finibus maximus neque, vitae egestas quam imperdiet nec. Proin nec mauris eu tortor consectetur tristique."</p>
                </div>
                <img src="http://placehold.it/60x60" alt="">
              </div>
              
              <div class="testimonial-item">
                <div class="inner-content">
                  <h4>SONG CHAN KI</h4>
                  <span>CHIEF TECH MANAGER</span>
                  <p>"Curabitur sollicitudin, tortor at suscipit volutpat, nisi arcu aliquet dui, vitae semper sem turpis quis libero. Quisque vulputate lacinia nisl ac lobortis."</p>
                </div>
                <img src="http://placehold.it/60x60" alt="">
              </div>
              
                <div class="testimonial-item">
                <div class="inner-content">
                  <h4>JUNG DAE HYUN</h4>
                  <span>PF MANAGER<span>
                  <p>"Curabitur sollicitudin, tortor at suscipit volutpat, nisi arcu aliquet dui, vitae semper sem turpis quis libero. Quisque vulputate lacinia nisl ac lobortis."</p>
                </div>
                <img src="http://placehold.it/60x60" alt="">
              </div>
              
              
                <div class="testimonial-item">
                <div class="inner-content">
                  <h4>SHIN HO SEON</h4>
                  <span>BOARD MANAGER</span>
                  <p>"Curabitur sollicitudin, tortor at suscipit volutpat, nisi arcu aliquet dui, vitae semper sem turpis quis libero. Quisque vulputate lacinia nisl ac lobortis."</p>
                </div>
                <img src="http://placehold.it/60x60" alt="">
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="callback-form">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Request a <em>call back</em></h2>
              <span>Etiam suscipit ante a odio consequat</span>
            </div>
          </div>
          <div class="col-md-12">
            <div class="contact-form">
              <form id="contact" action="" method="post">
                <div class="row">
                  <div class="col-lg-4 col-md-12 col-sm-12">
                    <fieldset>
                      <input name="name" type="text" class="form-control" id="name" placeholder="Full Name" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-4 col-md-12 col-sm-12">
                    <fieldset>
                      <input name="email" type="text" class="form-control" id="email" pattern="[^ @]*@[^ @]*" placeholder="E-Mail Address" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-4 col-md-12 col-sm-12">
                    <fieldset>
                      <input name="subject" type="text" class="form-control" id="subject" placeholder="Subject" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your Message" required=""></textarea>
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <button type="submit" id="form-submit" class="border-button">Send Message</button>
                    </fieldset>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="partners">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="owl-partners owl-carousel">
            
              <div class="partner-item">
                <img src="assets/images/client-01.png" title="1" alt="1">
              </div>
              
              <div class="partner-item">
                <img src="assets/images/client-01.png" title="2" alt="2">
              </div>
              
              <div class="partner-item">
                <img src="assets/images/client-01.png" title="3" alt="3">
              </div>
              
              <div class="partner-item">
                <img src="assets/images/client-01.png" title="4" alt="4">
              </div>
              
              <div class="partner-item">
                <img src="assets/images/client-01.png" title="5" alt="5">
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>


 <!-- Footer Starts Here -->
	   <footer>
		<div class="container">
			<div class="row">
				<div class="col-md-3 footer-item">
					<h4>OurD 소개</h4>
					<p><strong>Our Dream</strong>
					<br>
						우리들의 꿈이 이루어지는  <br>
						그날까지 함께하겠습니다. <br>
						We will be together until our dreams come true.<br>
						ABOUT OurD</p>
				</div>
				<div class="col-md-3 footer-item">
					<h4>고객 센터</h4> 
						<p>
						(주)Our Dream | 서울 강남구 테헤란로 <br>
						고객센터 전화문의 | 010-0000-0000 <br>
						FAX | 02-0000-0000  <br>
						E-mail ourD@naver.com <br>
						</p>
				</div>
				<div class="col-md-3 footer-item">
					<h4>Additional Pages</h4>
					<ul class="menu-list">
						<li><a href="#">About Us 회사소개 바로가기</a></li>
						<li><a href="#">포트폴리오 바로가기</a></li>
						<li><a href="#">팁 게시판 바로가기</a></li>
						<li><a href="#">채팅방 바로가기</a></li>
						<li><a href="#">Home 바로가기</a></li>
					</ul>
				</div>

				<div class="col-md-3 footer-item last-item">
					<h4>채팅방 바로가기</h4>
					<div class="contact-form">

								<div class="col-lg-12">
								<a href="/chat/room" onclick="window.open(this.href, '_blank', 'width=500px,height=500px,left=2000%, top=500px,toolbars=no,scrollbars=no'); return false;">
								<!-- 
									<a href="/chat/room" target='_blank'> -->
										<fieldset>
												<button value="채팅방으로이동" type="submit" id="ChatGo" class="filled-button">채팅방 바로가기</button>
										</fieldset>
									<!-- </a> -->
								</a>
								</div>
							</div>

					</div>
				</div>
			</div>
		</div>
	</footer>

	<div class="sub-footer">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<p>
						Copyright &copy; Ourd Corp. All Right Reserved. <a rel="nofollow noopener" href="http://localhost:9091/login" target="_blank"></a></p>
          </div>
        </div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Additional Scripts -->
    <script src="assets/js/custom.js"></script>
    <script src="assets/js/owl.js"></script>
    <script src="assets/js/slick.js"></script>
    <script src="assets/js/accordions.js"></script>

    <script language = "text/Javascript"> 
      cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
      function clearField(t){                   //declaring the array outside of the
      if(! cleared[t.id]){                      // function makes it static and global
          cleared[t.id] = 1;  // you could use true and false, but that's more typing
          t.value='';         // with more chance of typos
          t.style.color='#fff';
          }
      }
    </script>

  </body>
</html>